#controls {
  width: 100%;
  position: relative;
  padding-left: 20px;
  padding-bottom: 50px;
  padding-top: 10px;
}
#visualization{
  padding-top: 50px;
  padding-left: 100px;
}
#plot{
  width: 90vw;
  height: 80vh;
}
.legend {
  cursor: pointer;
}
div.tooltip {
  pointer-events: none;
  padding: 2px;
  border-radius: 8px;
}